In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from time import strftime
#import pandas_datareader.data as web
import warnings
warnings.filterwarnings('ignore')
import os

os.chdir('C:/BankRisk')  # set directory for working data files here

In [2]:
dg2a = pd.read_csv("df2_2001_2009.csv")
dg2a['AsOf'] = pd.to_datetime(dg2a['AsOf'])
dg2a.head(2)

,IDRSSD,AsOf,Name,State,Cert,eTotAst,eTotLn,eALLL,eOREO,eGW,...,ncoFIfor,ncoAg,ncoCIdom,ncoCIfor,ncoCard,ncoAuto,ncoOthCsmr,ncoForGovt,ncoOthLn,ncoLeas
0,37,2001-03-31,BANK OF HANCOCK COUNTY,GA,10057,65486.0,40507.0,979.0,200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,-1.0,0.0,0.0,0.0
1,242,2001-03-31,"FIRST NATIONAL BANK OF XENIA, THE",IL,3850,23537.0,12897.0,127.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,-2.0,0.0,0.0,0.0

In [5]:
dg2b = pd.read_csv("df2_2010_2015.csv")
dg2b['AsOf'] = pd.to_datetime(dg2b['AsOf'])
dg2b.tail(2)

,IDRSSD,AsOf,Name,State,Cert,eTotAst,eTotLn,eALLL,eOREO,eGW,...,ncoFIfor,ncoAg,ncoCIdom,ncoCIfor,ncoCard,ncoAuto,ncoOthCsmr,ncoForGovt,ncoOthLn,ncoLeas
165104,4536084,2015-12-31,BANK OF BIRD-IN-HAND,PA,59074,119957.0,104643.0,1299.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165105,4845861,2015-12-31,PRIMARY BANK,NH,59086,36441.0,7683.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
len(dg2a), len(dg2b)

(291793, 165106)

In [7]:
dg2 = pd.concat([dg2a,dg2b],ignore_index=True)
len(dg2)

456899

In [ ]:
#if htyp == 'nohist':
#  rk = pd.read_csv("BkAvgAstPR_FailDt_BHC_tic.csv", index_col=0)  # 20160325 nohist version
#else:
#  rk = pd.read_csv("BkAvgAstPR_FailDt_BHC_BkClass_ult2.csv", index_col=0)  # 4/11/16: updated table (fixed Parentname fields)

#rk['xAsOf'] = pd.to_datetime(rk['xAsOf'])
#rk['nAsOf'] = pd.to_datetime(rk['nAsOf'])
#rk['FailDate'] = pd.to_datetime(rk['FailDate'])
#htyp

In [8]:
dg2.to_csv("df2_2001_2015.csv")